.itsHowYou {
  position: relative;
  line-height: 100%;
  text-transform: uppercase;
}
.itsHowYouGetWorWrapper {
  width: 680px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.heroiconsMinilistBullet,
.heroiconsOutlineglobeAlt {
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.heroiconsOutlineglobeAlt {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.heroiconsMinilistBulletParent,
.sectionHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.heroiconsMinilistBulletParent {
  width: 680px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-end;
  gap: var(--gap-5xs);
}
.sectionHeader {
  width: 1360px;
  justify-content: flex-start;
  color: var(--gray-gray-900);
}
.itsHowYou1 {
  font-size: var(--font-size-45xl);
  line-height: 112%;
  text-transform: uppercase;
}
.itsHowYou1,
.itsHowYou2,
.itsHowYou3 {
  align-self: stretch;
  position: relative;
}
.itsHowYou2 {
  line-height: 112%;
  text-transform: uppercase;
  color: var(--lavender);
}
.itsHowYou3 {
  line-height: 120%;
  font-family: var(--font-pt-serif);
}
.content {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-21xl);
}
.content,
.image,
.image20Icon {
  width: 680px;
  height: 680px;
}
.image20Icon {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.image {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.cardHero {
  border: 1px solid var(--primary-black);
  box-sizing: border-box;
  width: 1362px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
}
.frameChild,
.image12Icon {
  position: absolute;
  top: 0;
  left: 0;
}
.frameChild {
  background-color: var(--slate-light-8);
  width: 368px;
  height: 373px;
}
.image12Icon {
  width: 562px;
  height: 374px;
  object-fit: cover;
}
.rectangleParent {
  align-self: stretch;
  position: relative;
  height: 373px;
  overflow: hidden;
  flex-shrink: 0;
}
.digitalAssetsRegulation {
  margin: 0;
}
.itsHowYouContainer {
  line-height: 112%;
  text-transform: uppercase;
}
.itsHowYou4,
.itsHowYou5,
.itsHowYouContainer {
  align-self: stretch;
  position: relative;
}
.itsHowYou4 {
  font-size: var(--font-size-5xl);
  line-height: 112%;
  text-transform: uppercase;
  color: var(--lavender);
}
.itsHowYou5 {
  font-size: var(--font-size-xl);
  line-height: 120%;
  font-family: var(--font-pt-serif);
}
.card {
  flex: 1;
  border: 1px solid var(--devox-black);
  display: flex;
  flex-direction: column;
  padding: var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.image14Icon,
.image15Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 662px;
  height: 373px;
  object-fit: cover;
}
.image14Icon {
  width: 369px;
  height: 553px;
}
.cards,
.section {
  width: 1360px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--font-size-13xl);
}
.section {
  background-color: var(--primary-white);
  width: 1440px;
  flex-direction: column;
  padding: var(--padding-61xl) 0;
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-25xl);
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--devox-black);
  font-family: var(--font-antonio);
}
