.sizesmallChild {
  position: relative;
  border-radius: 50%;
  background-color: var(--primary-black);
  width: 6px;
  height: 6px;
}
.sizesmall {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs);
  align-items: center;
  justify-content: center;
}
